* {
  padding: 0;
  margin: 0;
}

:root {
  /* Primary */
  --very_dark_magenta: hsl(300, 43%, 22%);
  --soft_pink: hsl(333, 80%, 67%);

  /* Neutral */
  --dark_grayish_magenta: hsl(303, 10%, 53%);
  --light_grayish_magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-image: url("/Images/bg-pattern-top-desktop.svg");
  font-family: "League Spartan", sans-serif;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.texts h1,
.texts p {
  text-align: center;
}

.texts h1 {
  font-size: 2.5rem;
}

.texts p {
  line-height: 140%;
}

.texts,
.star-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.ratings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--light_grayish_magenta);
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.top-container {
  display: flex;
  flex-direction: column;
}

.texts,
.ratings p {
  color: var(--very_dark_magenta);
}

.ratings p {
  font-weight: 700;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--very_dark_magenta);
  padding: 1rem;
  border-radius: 0.5rem;
}

.card p {
  color: var(--white);
  line-height: 130%;
}

.card-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-content img {
  border-radius: 10rem;
  width: 3rem;
}

.card-content div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-content div p:first-child {
  color: var(--white);
  font-weight: 600;
}

.card-content div p:last-child {
  color: var(--soft_pink);
}

/* Desktop */
@media (min-width: 756px) {
  .top-container {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .top-container .texts {
    width: 30%;
  }

  .texts h1,
  .texts p {
    text-align: left;
  }

  .ratings:nth-child(2) {
    margin-left: 10rem;
  }

  .ratings:nth-child(3) {
    margin-left: 20rem;
  }

  .bottom-container {
    flex-direction: row;
  }

  .card:nth-child(1) {
    max-height: fit-content;
  }

  .card:nth-child(2) {
    margin-top: 1rem;
    max-height: fit-content;
  }

  .card:nth-child(3) {
    margin-top: 2rem;
  }
}
